body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	color: white;
}

/* loading screen stuff */
#loading {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: white;
	position: fixed;
	display: block;
	opacity: .8;
	background-color: black;
	z-index: 99;
	text-align: center;
}

#loading-image {
	top: 40%;
	z-index: 100;
}

/* loading image css */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* end of loading animation css */

.hide {
	display: none;
}

.background {
	height: 100%;
	/*background-image: url("https://images.unsplash.com/photo-1526749837599-b4eba9fd855e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");*/
	background-image: url("https://images.unsplash.com/photo-1429030302914-24dd86f1e896?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	animation-duration: 2s;
}

@keyframes fade-in {
  from {opacity: .2;}
  to {opacity: 1;}
} 

.centerText {
	opacity: .8;
	width: 100%;
	position: relative;
	top: 15%;
	font-size: 35px;
	text-align: center;
	letter-spacing: 3px;
}

.underConstruction {
	background-color: black;
	color: white;
	padding: 8px;
	border-radius: 3px;
}

.backHome {
	font-size: 20px;
	background-color: black;
	border-radius: 2px;
	padding: 4px;
	cursor: pointer;
}

.backHome a {
	color: white;
}

.backHome a:hover {
	transition: .3s;
	color: grey;
}

form {
	text-align: center;
	padding: 25px;
	letter-spacing: 2px;
	color: white;
	opacity: .8;
	width: 350px;
	margin: auto;
	background-color: black;
	border-radius: 5px;
	position: relative;
	top: 50px;
}


input {
	background-color: snow;
	color: black;
	border: none;
	padding: 15px;
	margin: 8px;
	border-radius: 4px;
}

textarea {
	background-color: snow;
	width: 250px;
	height: 100px;
}

@media screen and (max-width: 400px) {
	form {
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 25px;
		padding-bottom: 25px;
	}
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: .9;
}

/* The navigation menu links */
.sidenav a {
  letter-spacing: 3px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  opacity: .3;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.lastInBar {
	margin-bottom: 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.threeLines {
	margin: 5px;
	color: white;
	position: fixed;
	right: 10px;
	top: 10px;
	cursor: pointer;
	opacity: .9;
}

.threeLines:hover {
	opacity: .3;
	transition: .5s;
}

@media screen and (max-width: 500px) {
	.threeLines {
		right: 0px;
	}
}